.que.cloudpoodll textarea.qtype_cloudpoodll_response {
    width: 100%;
}

.que.cloudpoodll textarea.qtype_cloudpoodll_response.qtype_cloudpoodll_plain {
    white-space: pre-wrap;
    font: inherit;
}

.que.cloudpoodll textarea.qtype_cloudpoodll_response.qtype_cloudpoodll_monospaced {
    white-space: pre;
    font-family: Andale Mono, Monaco, Courier New, DejaVu Sans Mono, monospace;
}

.que.cloudpoodll .qtype_cloudpoodll_response {
    min-height: 3em;
}

.que.cloudpoodll .qtype_cloudpoodll_response.readonly {
    background-color: white;
}

.que.cloudpoodll div.qtype_cloudpoodll_response textarea {
    width: 100%;
}

.qtype_cloudpoodll_whiteboardwidth {
    max-width: 80%;
}


/* interactive transcript */
.qtype_cloudpoodll_transcriptcontainer {
    max-width: 480px;
    width: 100%;
    font-family: Arial, sans-serif;
    /*overflow-x: scroll; */
    /* max-height: 298px; */
    border: 1px solid #111;
}

.qtype_cloudpoodll_transcript-header {
    height: 19px;
    padding: 1px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
}
.qtype_cloudpoodll_transcript-selector {
    height: 25px;
}
.qtype_cloudpoodll_transcript-body {
    /* width: 600px; */
    overflow-y: scroll;
    background-color: #e7e7e7;
    max-height: 298px;
    position: relative;
    margin: auto;
}

.qtype_cloudpoodll_transcript-line {
    position: relative;
    padding: 5px;
    cursor: pointer;
    line-height: 1.3;
}

.qtype_cloudpoodll_transcript-line:nth-child(odd) {
    background-color: #f5f5f5;
}


.qtype_cloudpoodll_transcript-timestamp {
    position: absolute;
    display: inline-block;
    color: #333;
    width: 50px;
}

.qtype_cloudpoodll_transcript-text {
    display: block;
    margin-left: 50px;
}

.qtype_cloudpoodll_transcript-line:hover,
.qtype_cloudpoodll_transcript-line:hover .qtype_cloudpoodll_transcript-timestamp,
.qtype_cloudpoodll_transcript-line:hover .qtype_cloudpoodll_transcript-text {
    background-color: #777;
    color: #e7e7e7;
}

.qtype_cloudpoodll_transcript-line.is-active,
.qtype_cloudpoodll_transcript-line.is-active .qtype_cloudpoodll_transcript-timestamp,
.qtype_cloudpoodll_transcript-line.is-active .qtype_cloudpoodll_transcript-text {
    background-color: #555;
    color: #e7e7e7;
    width: auto;
}

.qtype_cloudpoodll_videorec_cont {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.qtype_cloudpoodll_audiorec_cont {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.qtype_cloudpoodll_audiorec_iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position: absolute;
    max-width: 400px;
}
.qtype_cloudpoodll_videorec_iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position: absolute;
    max-width: 450px;
}

.qtype_cloudpoodll_video_cont {
    position: relative;
    height: 0;
    max-width: 480px;
}

.qtype_cloudpoodll_audio_cont {
    width: 100%;
    max-width: 480px;
}

.qtype_cloudpoodll_audio {
    width: 100%;
}

.qtype_cloudpoodll_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@supports (padding-top: min(360px,75%)) {
    .qtype_cloudpoodll_video_cont {
        padding-bottom: min(360px,75%);
    }
    .qtype_cloudpoodll_videorec_cont {
        padding-top: min(540px,150%);
    }
    .qtype_cloudpoodll_audiorec_cont {
        padding-top: min(320px,90%);
    }
}
@supports not (padding-top: min(360px,75%)) {
    .qtype_cloudpoodll_video_cont {
        padding-bottom: 360px;
    }
    .qtype_cloudpoodll_videorec_cont {
        padding-top: 540px;
    }
    .qtype_cloudpoodll_audiorec_cont {
        padding-top: 320px;
    }
}

@media screen and (max-width: 667px) {

    .qtype_cloudpoodll_videorec_cont {
        padding-top: 150%;
    }
    .qtype_cloudpoodll_audiorec_cont {
        padding-top: 90%;
    }
    .qtype_cloudpoodll_video_cont {
        padding-bottom: 75%;
    }
}
