
<div class="qtype_cloudpoodll_as">
    {{#alreadysubmitted}}You have answered this question.{{/alreadysubmitted}}
    {{#filesubmitted}}You have answered this question.{{/filesubmitted}}
    {{#awaitingconversion}}You have answered this question.{{/awaitingconversion}}
    {{#recordingstarted}}Not UPLOADED. Do not leave the page yet.{{/recordingstarted}}
    {{#recordingstopped}}Not UPLOADED. Do not leave the page yet.{{/recordingstopped}}
    {{#uploadcommenced}}Not UPLOADED. Do not leave the page yet.{{/uploadcommenced}}
</div>