<div class="qtype_cloudpoodll_rec_details_log" id="{{id}}" style="display: block">
    <table>
    {{#recevents}}
        <tr>
            <td>{{type}}</td>
            {{#recording}}<td>{{action}}</td>{{/recording}}
            {{#uploadcommenced}}<td>{{srcfile}} {{mimetype}}</td>{{/uploadcommenced}}
            {{#awaitingprocessing}}<td>{{targetfile}}</td>{{/awaitingprocessing}}
            {{#filesubmitted}}<td>{{finalfile}}</td>{{/filesubmitted}}
            {{#error}}<td>{{code}} {{message}}</td>{{/error}}
        </tr>
    {{/recevents}}
    </table>
</div>

